{% macro displaySourceList(source_list) %}
    {% for source in source_list %}
    
            <li><a href="/news/{{source.id}}">{{source.name}}</a></li>
            <p><cite class="">{{source.description}}</cite></p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4 col-xs-12 col-sm-12 col-md-4 ">
                        <div class="card h-100">
                            <img src="{{source.urlToImage}}" alt="" class="image-responsive">
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endmacro %}


{% macro displayArticleList(article_list) %}
    {% for article in article_list %}
        <li>title: {{article.title}}</li>
        <p>desc: {{article.description}}</p>
        <!-- <p>content: {{article.content}}</p> -->
        <p>Published at: {{article.publishedAt}}</p>
        <img src="{{article.urlToImage}}" alt="" style="width:500px">
        <a href="{{article.url}}" target="_blank"><button class="btn btn-primary"> Read More..</button></a>
        
    {% endfor %}
{% endmacro %}

